Source: syndicate-ag
Section: utils
Priority: optional
Maintainer: Zack Williams, University of Arizona <zdw@cs.arizona.edu>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), pkg-config, libsyndicate1-dev, libsyndicate-ug1-dev, libfskit1-dev,  libprotobuf-dev

Package: syndicate-ag
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}, python
Description: Syndicate Acquisition Gateway
 This is a gateway that links a Syndicate volume to an existing, external 
 data set.

